*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #d2d8db;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    outline: none;
}
 /* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
*{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
button{
    outline: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    /*background:#000000;*/
    z-index: 3;
    transition: 0.6s;
}
header .toogle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: url('icons/user.png');
    background-size: cover;
} 
.screen.on header .toogle{
    background: url('icons/messengerLight.png');
    background-size: cover;
}
header .toogleMenu{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: url('icons/sort-down.png');
    background-size: cover;
}
.screen{
    position: relative;
    min-height: 100vh;
    width: 100%;
    /*background: url('body.jpg');*/
    background-color: #000000;
    box-shadow: 0 0 40px #05c5ffd2;
    transition: 0.6s;
    z-index: 100;
    overflow: hidden;
    overflow-y: scroll;
}

.screen.on{
    transform: translateX(-400px);
}

#navigation{
    position: fixed;
    top: 0;
    right: -200px;
    width: 400px;
    height: 100vh;
    background: #13171d;
    /*background: url('images/rainy.jpg');#26292c*/
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    display: grid;
    place-items: center;
    overflow-y: scroll;
    transition: 0.6s;
}
#navigation.on{
    right: 0;
}
#navigation ul{
    list-style: none;
    width: 100%;
}
.CAP{
    text-transform: uppercase;
}
#navigation ul li a .btn{
    background: none;
    border: none;
    padding: 5px;
    text-align: center;
    margin: 20px;
    height: 6vh;/*40px;*/
    width: 90%;
    text-transform: uppercase;

    box-shadow: 0 0 10px #05c5ffd2;
    color: #05c5ffd2;
    
    border-radius: 20px;
    text-align: center;
    font-size: 1em;
    transition: 0.3s;
}
#navigation ul li a{
    text-decoration: none;
    text-align: center;
}
#navigation ul li a .btn_presed{
    box-shadow: 0 0 10px #4b4a4a;
    color: #4b4a4a;
    transition: 0.3s;
}
#navigation ul li a .btn_pressed{
    background-color: #05c5ffd2;
    box-shadow: 0 0 10px #05c5ffd2;
    color: #13171d;
    transition: 0.3s;
}
#displayFront{
    position: relative;
    top: 0;
    left: 0;
    width: 75%;
    margin-top: 10vh;
}
.ProfileShow{
    list-style: none;
    padding-left: 100px;
}
#DP{
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    background: #4b4a4a;
    margin: 20px 0;
}
#Username{
    margin: 10px 0;
    text-align: center;
}
 /* Hide scrollbar for Chrome, Safari and Opera */
#navigation::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
#navigation{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 

#navFooter{
    font-size: small;
    margin-top: 40px;
    padding-bottom: 40px;
}
.centerAlign{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 300px;
    margin-right: 10px;
}
.center{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 767px){
    header {
        padding: 15px;
    }
    .screen.on {
        transform: translateX(-300px);
    }
    #navigation.on {
        right: -100px;
    }
    #navigation ul li a .btn {
        padding: 5px;
        margin: 15px 20px;
        /*height: 30px;*/
        height: 5vh;
        width: 65%;
        font-size: 1em;
    }
    #navFooter{
        margin-left: -80px;
    }
.centerAlign{
    margin-left: 150px;
}
.ProfileShow{
    padding-left: 0;
}
}
@media (max-width: 470px){
.centerAlign{
    display: none;
}
}

@media (max-width: 355px){
    .screen.on {
        transform: translateX(-260px);
    }
    #navigation.on {
        right: -120px;
    }
    #navigation ul li a .btn {
        margin: 15px 45px;
        width: 55%;
    }
}