*{
    margin: 0;
    padding: 0;
    color: #fff;
}
body{
    background-color: #1a1a1a;
}
body .sendBox{
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -160%);
    height: 40px;
    width: 95%;
    margin: 2px;
    max-width: 600px;
}
#messageBox{
    font-size: medium;
    height: 40px;
    width: 99%;
    padding-left: 5px;
    background: none;
    outline: none;
    border: none;
    border-bottom: #ffffff 1px solid;
}
input::placeholder{
    color: #ffffff;
}
#sendBtn{
    width: 40px;
    background: url('../../icons/send.png');
    background-repeat: no-repeat;
    background-size: cover;
}
body .showBox{
    background-color: transparent;
    width: 100vw;
    max-width: 600px;
    margin: auto;
}
#messages{
    height: 78vh;
    margin-top: -10px;
    /*margin-bottom: 40px;*/
    overflow-y: scroll;
    /*scroll-behavior: smooth;*/
}

 /* Hide scrollbar for Chrome, Safari and Opera */
#messages::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
#messages{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 

.dot{
    height: 30px;
}

.msg{
    border: #0084ff 1px solid;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    margin: 5px;
    padding: 15px;
    width: 70%;
    overflow-wrap: break-word;
}
.user{
    border: #ff00ff 1px solid;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    position: relative;
    left: 100%;
    transform: translateX(-103%);
}
.username{
    font-size: small;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: #ffffff49 1px solid;
}
.text{
    margin-left: 10px;
}

.offScr{
    display: none;
    transition: 0.5s;
}